# Ignore node_modules folder
node_modules/

# Ignore environment files
.env

# Ignore compiled binary files
*.exe
*.dll

# Ignore log files
*.log

# Ignore build and distribution directories
/dist/
/build/

/*.zip   # Ignore any .zip files in the root directory
